.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    background-color:  rgb(15, 214, 214);
}
h3{
    margin-left: 20px;
}